@import './base.css';

:root {
	--color-white: #fff;
	--color-blue-1: #62c7ff;
	--color-blue-2: #5bb8f1;
	--color-blue-3: #5fa5ea8c;
	--color-blue-4: #5fa4ea;
	--color-blue-5: #60aef0;
	--color-blue-6: #4f80ef;
	--color-translucent-1: #eeeeee10;
	--color-gray-1: #c6d5e9;
	--color-gray-2: #a9a9a9;
	--color-purple-1: #834fff;
	--color-black-1: #202020;
	--color-gradient-1: linear-gradient(45deg, #2a6bf2 0%, #2d3794 100%);

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;
	--fontSize-40: 40px;
	--fontSize-66: 66px;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;
}
/* REUSED STYLES */
/* .casino-link {
	color: var(--color-white);
	text-wrap: nowrap;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: var(--fontSize-20);
}
.casino-link::after {
	content: '';
	background-image: url('../images/icons/arrow.svg');
	background-size: contain;
	width: 24px;
	height: 24px;
	position: absolute;
	display: block;
	right: -28px;
	top: 58%;
	transform: translate(0, -50%);
	transition: transform 200ms ease;
} */
/* @media (hover: hover) {
	.casino-link:hover::after {
		transform: translate(5px, -50%);
	}
} */
.casino-link {
	color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	font-family: 'Raleway', sans-serif;
	background: var(--color-gradient-1);
	font-weight: var(--weight-regular);
	padding: 15px 20px;
	border-radius: 10px;
	text-wrap: nowrap;
	border: 1px solid transparent;
}
@media (hover: hover) {
	.casino-link:hover {
		border: 1px solid var(--color-white);
	}
}
.casino-link:active {
	transform: scale(0.92);
}

/* HEADER */
.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	position: relative;
}
.header__container {
	width: min(1240px, 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-link {
	display: flex;
	align-items: center;
	color: var(--color-white);
	font-size: var(--fontSize-24);
}
.header__logo-important {
	color: var(--color-blue-1);
}
.header__logo {
	width: 40px;
	height: 40px;
	object-fit: contain;
	margin-right: 10px;
}
.header__nav {
	display: flex;
	gap: 50px;
}
.header__nav-link {
	color: var(--color-white);
	position: relative;
	text-wrap: nowrap;
}
@media (hover: hover) {
	.header__nav-link:hover::after {
		opacity: 1;
	}
}
.header__nav-link::after {
	content: '';
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	background-color: var(--color-white);
	border-radius: 100px;
	left: 50%;
	bottom: -15px;
	transform: translate(-50%);
	opacity: 0;
	transition: opacity 300ms ease;
}
.header__btn {
	display: flex;
	flex-direction: column;
	gap: 8px;
	display: none;
}
.header__line {
	height: 3px;
	background-color: var(--color-white);
	transition: all 200ms ease;
}
.header__line--1 {
	transform-origin: left center;
	width: 12px;
}
.header__line--2 {
	transform-origin: center center;
	width: 24px;
}
.header__line--3 {
	transform-origin: right center;
	width: 12px;
	align-self: flex-end;
}
.header__btn.active .header__line--1 {
	transform: translate(3px, 2px) rotate(45deg);
}
.header__btn.active .header__line--2 {
	transform: rotate(-45deg);
}
.header__btn.active .header__line--3 {
	transform: translate(-3px, -2px) rotate(45deg);
}

/* MAIN */
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}

/* MAIN -> BEST-GAMES */
.best-games {
	width: min(1280px, 100%);
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 80px;
	padding: 0 20px;
}
.best-games__description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.best-games__text {
	color: var(--color-blue-2);
	text-transform: uppercase;
	text-wrap: nowrap;
}
.best-games__title {
	font-size: var(--fontSize-40);
	color: var(--color-white);
	text-align: center;
}
.best-games__disclaimer {
	color: var(--color-purple-1);
	text-align: center;
}
.best-games__games {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.best-games__game {
	width: min(450px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 48px;
	background-color: var(--color-black-1);
	border-radius: 40px;
	border: 5px solid var(--color-blue-3);
	gap: 40px;
}
.best-games__logo {
	height: 120px;
	width: 100%;
	object-fit: contain;
}
.best-games__important {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.best-games__game-title {
	color: var(--color-white);
	font-size: var(--fontSize-24);
}
.best-games__game-bonus {
	color: var(--color-blue-5);
	font-size: var(--fontSize-24);
	text-align: center;
}
@media (hover: hover) {
	.best-games__game:hover {
		border: 5px solid var(--color-blue-4);
	}
}
.best-games__advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.best-games__advantage {
	position: relative;
}
.best-games__advantage-img {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 100px;
	background-color: var(--color-blue-1);
	display: block;
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translateY(-50%);
}
.best-games__advantage-text {
	color: var(--color-gray-1);
	max-width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* MAIN -> GAMES */
.games {
	width: min(1280px, 100%);
	padding: 0 20px;
	margin-bottom: 80px;
}
.games__description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}
.games__title {
	color: var(--color-white);
	font-size: var(--fontSize-66);
}
.games__text {
	color: var(--color-gray-2);
	text-align: center;
}
.games__games {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.games__game {
	width: 100%;
	background-color: var(--color-black-1);
	border-radius: 40px;
	padding: 30px 40px;
	border: 5px solid var(--color-blue-3);
	display: flex;
	align-items: center;
	gap: 20px;
}
@media (hover: hover) {
	.games__game:hover {
		border: 5px solid var(--color-blue-4);
	}
}
.games__logo {
	height: 70px;
	width: 200px;
	object-fit: contain;
	margin-right: 20px;
}
.games__game-column {
	display: flex;
	flex-direction: column;
}
.games__game-column--2 {
	align-items: flex-start;
	gap: 5px;
	flex-grow: 1;
}
.games__game-title {
	color: var(--color-white);
	font-size: var(--fontSize-24);
}
.games__game-text {
	color: var(--color-gray-2);
	font-size: var(--fontSize-16);
}
.games__game-column--3 {
	flex-direction: row;
	gap: 10px;
	align-items: center;
	flex-grow: 1;
}
.games__bonus-img {
	width: 40px;
	height: 40px;
}
.games__bonus-text {
	color: var(--color-blue-5);
	font-size: var(--fontSize-24);
}

/* MAIN -> COMPANIES */
.companies {
	width: 100%;
	padding: 46px 0;
	background-color: var(--color-translucent-1);
	margin-bottom: 80px;
}
.companies__scroller {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}
.companies__scroller--inner {
}
.companies__scroller[data-animated='true'] {
	overflow: hidden;
}
.companies__scroller[data-animated='true'] .companies__scroller--inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--animation-duration, 60s)
		var(--animation-direction, forwards) linear infinite;
}
@media (hover: hover) {
	.companies__scroller[data-animated='true'] .companies__scroller--inner:hover {
		animation-play-state: paused;
	}
}
.companies__scroller[data-direction='left'] {
	--animation-direction: forwards;
}
.companies__scroller[data-direction='right'] {
	--animation-direction: reverse;
}
.companies__companies-list {
	display: flex;
	gap: 15px;
}
.companies__company {
	height: 40px;
	width: 180px;
	object-fit: contain;
	object-position: center;
}
@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}

/* MAIN -> ABOUT-US */
.about-us {
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}
.about-us__container {
	width: min(1280px, 100%);
	background-color: var(--color-translucent-1);
	border: 1px solid var(--color-gray-1);
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 120px;
	padding: 20px 80px;
}
.about-us__img {
	width: 430px;
	height: 334px;
	object-fit: contain;
	object-position: center;
}
.about-us__info {
}
.about-us__title {
	color: var(--color-white);
	font-size: var(--fontSize-40);
	line-height: 1.5;
	margin-bottom: 16px;
}
.about-us__important {
	color: var(--color-blue-6);
}
.about-us__text {
	color: var(--color-gray-2);
	line-height: 1.5;
}

/* MAIN -> ROAD-MAP */
.road-map {
	width: min(1280px, 100%);
	padding: 0 20px;
	margin-bottom: 80px;
}
.road-map__title {
	width: 100%;
	text-align: center;
	font-size: var(--fontSize-40);
	color: var(--color-white);
	margin-bottom: 40px;
	padding-top: 20px;
}
.road-map__container {
	width: 100%;
}
.road-map__item {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 40px;
}
.road-map__item-title {
	color: var(--color-white);
	font-size: var(--fontSize-32);
	width: calc((100% - 81px) / 2);
	text-align: right;
	padding-top: 15px;
}
.road-map__line {
	width: 1px;
	height: auto;
	background-color: var(--color-blue-5);
	position: relative;
}
.road-map__line::after {
	content: '';
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	background-color: var(--color-white);
	border-radius: 100px;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}
.road-map__text-container {
	width: calc((100% - 81px) / 2);
	padding-top: 15px;
}
.road-map__text {
	width: 100%;
	color: var(--color-gray-2);
	line-height: 1.5;
	margin-bottom: 16px;
}
.road-map__text:last-of-type {
	margin-bottom: 32px;
}
.road-map__item:last-of-type .road-map__text:last-of-type {
	margin-bottom: 16px;
}

/* MAIN -> FAQ */
.faq {
	width: min(1280px, 100%);
	padding: 0 20px;
	margin-bottom: 80px;
}
.faq__title {
	color: var(--color-white);
	font-size: var(--fontSize-40);
	margin-bottom: 60px;
}
.faq__question {
	width: 100%;
	padding: 28px 0 56px;
	display: flex;
	gap: 20px;
	border-top: 1px solid var(--color-translucent-1);
}
.faq__question-title {
	color: var(--color-white);
	font-size: var(--fontSize-20);
	width: calc((100% - 20px) / 2);
	line-height: 1.5;
}
.faq__question-text {
	color: var(--color-gray-2);
	line-height: 1.5;
	width: calc((100% - 20px) / 2);
}

/* FOOTER */
.footer {
	width: 100%;
	background-color: var(--color-translucent-1);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__container {
	width: min(1240px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.footer__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.footer__contact {
	color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#2a6bf2, #2d3794);
	padding: 14px 70px;
	border-radius: 10px;
	text-wrap: nowrap;
	width: max-content;
}
.footer__contact:active {
	transform: scale(0.95);
}
.footer__companies {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 10px;
	width: 300px;
}
.footer__company {
	height: 24px;
}
.footer__bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copyright {
	color: var(--color-gray-1);
	text-wrap: nowrap;
}
.footer__policy-links {
	display: flex;
	gap: 10px;
}
.footer__policy-link {
	color: var(--color-gray-1);
	text-wrap: nowrap;
}
@media (hover: hover) {
	.footer__policy-link:hover {
		color: var(--color-white);
	}
}

/* POLICY */
.policy-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-repeat: repeat;
	background-size: 20%;
	padding: 40px 20px;
	margin-top: 40px;
}
.policy-main__container {
	width: min(1240px, 100%);
	padding: 20px;
}
.policy-main a,
.policy-main p,
.policy-main li {
	color: var(--color-white);
}
.policy-main * {
	margin-bottom: 16px;
	line-height: 1.3;
}
.policy-main a {
	display: inline;
	text-decoration: underline;
}
.policy-main h1 {
	color: var(--color-blue-1);
}
.policy-main h2 {
	color: var(--color-blue-1);
}
.policy-main h3 {
	color: var(--color-blue-1);
}

/* MEDIA */
@media (max-width: 1200px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	/* MAIN -> COMPANIES */
	/* MAIN -> ABOUT-US */
	.about-us__container {
		padding: 20px 60px;
		gap: 60px;
	}
	.about-us__img {
		width: 400px;
		height: 300px;
	}
	.about-us__title {
		font-size: var(--fontSize-32);
	}
	/* MAIN -> ROAD-MAP */
	/* MAIN -> FAQ */
	/* FOOTER */
}
@media (max-width: 960px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	.games__game {
		padding: 30px;
	}
	.games__logo {
		width: 150px;
	}
	.games__bonus-img {
		width: 30px;
		height: 30px;
	}
	.games__bonus-text {
		font-size: var(--fontSize-16);
		font-weight: var(--weight-semibold);
	}
	/* MAIN -> COMPANIES */
	/* MAIN -> ABOUT-US */
	.about-us__container {
		flex-direction: column;
		gap: 0px;
		padding: 30px;
	}
	.about-us__img {
		width: 100%;
		height: 300px;
	}
	/* MAIN -> ROAD-MAP */
	/* MAIN -> FAQ */
	.faq__title {
		margin-bottom: 40px;
	}
	/* FOOTER */
	.footer__container {
		gap: 20px;
	}
	.footer__top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'logo companies'
			'button button';
	}
	.footer .header__logo-link {
		grid-area: logo;
	}
	.footer__companies {
		width: 100%;
		grid-area: companies;
	}
	.footer__contact {
		grid-area: button;
		justify-self: center;
	}
}
@media (max-width: 720px) {
	/* REUSED STYLES */
	:root {
		--animation-duration: 20s;
	}
	/* HEADER */
	.header__btn {
		display: flex;
		z-index: 100;
	}
	.header__nav {
		position: absolute;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform 300ms ease-in-out;
		z-index: 10;
		background-color: var(--color-black-1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		padding: 20px;
		border-bottom: 5px solid var(--color-blue-3);
	}
	.header__nav-link {
		color: var(--color-white);
	}
	.header__nav.active {
		transform: translateX(0);
	}
	.header__nav-link::before {
		position: absolute;
		display: block;
		content: '';
		top: 50%;
		right: -20px;
		transform: translateY(-50%);
		height: 100%;
		width: 2px;
		background-color: var(--color-gray-1);
	}
	.header__nav-link:last-of-type::before {
		display: none;
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__text {
		font-size: var(--fontSize-14);
	}
	.best-games__title {
		font-size: var(--fontSize-32);
	}
	/* MAIN -> GAMES */
	.games__title {
		font-size: var(--fontSize-40);
	}
	.games__game {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'logo name name name'
			'bonus bonus bonus button';
	}
	.games__logo {
		margin-right: 0;
		grid-area: logo;
	}
	.games__game-column--2 {
		grid-area: name;
	}
	.games__game-column--3 {
		grid-area: bonus;
	}
	.games__game-column--4 {
		grid-area: button;
		padding-right: 0;
	}
	/* MAIN -> COMPANIES */
	/* MAIN -> ABOUT-US */
	/* MAIN -> ROAD-MAP */
	.road-map__title {
		font-size: var(--fontSize-32);
		margin-bottom: 30px;
	}
	.road-map__item {
		gap: 24px;
	}
	.road-map__item-title {
		width: calc((100% - 49px) / 2);
		font-size: var(--fontSize-24);
	}
	.road-map__text-container {
		width: calc((100% - 49px) / 2);
	}
	/* MAIN -> FAQ */
	.faq__title {
		font-size: var(--fontSize-32);
	}
	.faq__question {
		padding: 20px 0 40px;
	}
	/* FOOTER */
	.footer__bottom {
		flex-direction: column;
		gap: 10px;
	}
}
@media (max-width: 540px) {
	/* REUSED STYLES */
	/* HEADER */
	.header__nav {
		gap: 20px;
	}
	.header__nav-link::before {
		right: -10px;
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games {
		gap: 10px;
		margin-bottom: 20px;
	}
	.best-games__games {
		display: none;
	}
	.best-games__title {
		font-size: var(--fontSize-24);
	}
	/* MAIN -> GAMES */
	.games {
		padding: 0;
	}
	.games__description {
		padding: 0 20px;
		display: none;
	}
	.games__title {
		font-size: var(--fontSize-24);
	}
	.games__text {
		font-size: var(--fontSize-14);
	}
	.games__games {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 90%;
		overflow-x: auto;
		overscroll-behavior-inline: contain;
		-ms-overflow-style: none; /* IE Ð¸ Edge */
		scrollbar-width: none; /* Firefox */
		padding: 0 20px;
	}
	.games__games::-webkit-scrollbar {
		display: none;
	}
	.games__game {
		grid-template-areas:
			'logo name name name'
			'bonus bonus bonus bonus'
			'button button button button';
	}
	.games__game-title {
		font-size: var(--fontSize-20);
		font-weight: var(--weight-regular);
	}
	.games__game-text {
		font-size: var(--fontSize-14);
	}
	.games__game-column--4 {
		justify-content: center;
		align-items: center;
	}
	/* MAIN -> COMPANIES */
	/* MAIN -> ABOUT-US */
	.about-us__title {
		font-size: var(--fontSize-24);
		margin-bottom: 14px;
	}
	.about-us__text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> ROAD-MAP */
	.road-map__title {
		font-size: var(--fontSize-24);
	}
	.road-map__item-title {
		font-size: var(--fontSize-20);
	}
	.road-map__text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> FAQ */
	.faq__title {
		font-size: var(--fontSize-24);
	}
	.faq__question-title {
		font-size: var(--fontSize-16);
	}
	.faq__question-text {
		font-size: var(--fontSize-14);
	}
	/* FOOTER */
	.footer__contact {
		padding: 12px 50px;
		font-size: var(--fontSize-14);
	}
}
@media (max-width: 420px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__game {
		padding: 30px;
		gap: 25px;
	}
	.best-games__logo {
		height: 100px;
	}
	.best-games__game-bonus {
		font-size: var(--fontSize-20);
	}
	.best-games__advantage {
		padding-left: 10px;
	}
	.best-games__advantage-img {
		left: -10px;
	}
	.best-games__advantage-text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> GAMES */
	.games__games {
		gap: 10px;
	}
	.games__logo {
		width: 100%;
		padding: 0 20px;
	}
	.games__game {
		padding: 20px 12px;
		grid-template-areas:
			'logo logo logo logo'
			'name name name name'
			'bonus bonus bonus bonus'
			'button button button button';
	}
	.games__game-title {
		font-size: var(--fontSize-16);
	}
	.games__game-column--3 {
		gap: 5px;
	}
	/* MAIN -> COMPANIES */
	/* MAIN -> ABOUT-US */
	.about-us__img {
		height: 200px;
	}
	.about-us__text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> ROAD-MAP */
	.road-map__title {
		margin-bottom: 20px;
	}
	.road-map__item {
		gap: 20px;
	}
	.road-map__item-title {
		width: calc((100% - 41px) / 2);
		font-size: var(--fontSize-16);
	}
	.road-map__text-container {
		width: calc((100% - 41px) / 2);
	}
	.road-map__text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> FAQ */
	.faq__question {
		flex-direction: column;
		gap: 14px;
	}
	.faq__question-title {
		font-size: var(--fontSize-14);
		width: 100%;
	}
	.faq__question-text {
		width: 100%;
	}
	/* FOOTER */
	.footer__top {
		display: flex;
		flex-direction: column;
	}
	.footer__companies {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 6px;
	}
	.footer__company {
		height: 18px;
		width: auto;
	}
}
@media (max-width: 375px) {
	.header__nav-link {
		font-size: var(--fontSize-14);
		font-weight: var(--weight-bold);
	}
}
@media (max-width: 330px) {
	.header__nav {
		padding: 40px 10px;
	}
	.header__nav-link {
		font-size: var(--fontSize-12);
		font-weight: var(--weight-black);
	}
}
