@import './base.css';

:root {
	--color-white: #fff;
	--color-blue-1: #62c7ff;
	--color-translucent-1: #eeeeee10;
	--color-gray-1: #C6D5E9;

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;
}

/* HEADER */
.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.header__container {
	width: min(1240px, 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-link {
	display: flex;
	align-items: center;
	color: var(--color-white);
	font-size: var(--fontSize-24);
}
.header__logo-important {
	color: var(--color-blue-1);
}
.header__logo {
	width: 40px;
	height: 40px;
	object-fit: contain;
	margin-right: 10px;
}
.header__nav {
	display: flex;
	gap: 50px;
}
.header__nav-link {
	color: var(--color-white);
}
.header__btn {
	display: flex;
	flex-direction: column;
	gap: 7px;
	display: none;
}
.header__line {
	width: 25px;
	height: 3px;
	background-color: var(--color-white);
	transition: all 200ms ease;
}
.header__line--1 {
	transform-origin: left bottom;
}
.header__line--2 {
	transform-origin: left center;
}
.header__line--3 {
	transform-origin: left top;
}

/* MAIN */

/* MAIN -> BEST-GAMES */

/* MAIN -> GAMES */

/* FOOTER */
.footer {
	width: 100%;
	background-color: var(--color-translucent-1);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__container {
	width: min(1240px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.footer__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.footer__contact {
	color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#2A6BF2, #2D3794);
	padding: 14px 70px;
	border-radius: 10px;
	text-wrap: nowrap;
	width: max-content;
}
.footer__contact:active {
	transform: scale(0.95);
}
.footer__companies {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 10px;
	width: 300px;
}
.footer__company {
	height: 24px;
}
.footer__bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copyright {
	color: var(--color-gray-1);
}
.footer__policy-links {
	display: flex;
	gap: 10px;
}
.footer__policy-link {
	color: var(--color-gray-1);
}
@media (hover: hover) {
	.footer__policy-link:hover {
		color: var(--color-white);
	}
}

/* MEDIA */
@media (max-width: 1200px) {
}
@media (max-width: 960px) {
}
@media (max-width: 720px) {
}
@media (max-width: 540px) {
}
@media (max-width: 420px) {
}
